.git
.github
.env*
.DS_Store
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.ruff_cache
**/.venv
**/target
.coverage
htmlcov
README.md
Makefile
cdc
docker-compose.yml
docs
flink-job
flink-sql
generator
k8s
observability
schemas
scripts
